/*-------------
 	General
-------------*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font: normal 16px sans-serif;
	color: #555;
}

ul, nav{
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;

	opacity: 0.9;
}

a:hover{
	opacity: 1;
}

a.btn{
	color: #fff;
	text-transform: uppercase;
	background-color: #2196F3;
	font-weight: 800;
	text-align: center;
}

a.btn-izq{
	color: #fff;
	text-transform: uppercase;
	background-color: #2196F3;
	font-weight: 800;
	text-align: center;
	border-top-left-radius: 1.5em;
	border-bottom-left-radius: 1.5em;
}

a.btn-der{
	color: #fff;
	text-transform: uppercase;
	background-color: #2196F3;
	font-weight: 800;
	text-align: center;
	border-top-right-radius: 1.5em;
	border-bottom-right-radius: 1.5em;
}

hr{
	width: 150px;
	height: 2px;
	background-color: #2196F3;
	border: 0;
	margin-bottom: 80px;
}

section{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 125px 100px;
}

footer h3.title{
	color: #fff;
	text-transform: capitalize; 
	font: bold 32px 'Open Sans', sans-serif;
	margin-bottom: 35px;
	text-align: center;
}

section p{
	max-width: 800px;
	text-align: center;
	margin-bottom: 35px;
	padding: 0 20px;
	line-height: 2;
}

ul.grid{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


/*-------------
 	Header
-------------*/

header{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: black;
	padding: 35px 100px 35px 100px;
	background-color: white;
	box-shadow: 0 1px 1px rgba(0,0,0,.15);
}

header h2{
	font-family: 'Quicksand', sans-serif;
}

header nav{
	display: flex;
}

header nav li{
	margin: 0 15px;
}

header nav li:first-child{
	margin-left: 0;	
}

header nav li:last-child{
	margin-right: 0;	
}

/*----------------------
 	publicidad
----------------------*/

.publicidad2{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 150px;
}

.publicidad2 .publi{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	width: 50%;
}

.publicidad2 .publi img{

   
}


.publicidad{
	padding: 100px 0px 0px!important;
	display: flex;
	flex-wrap: wrap;
}

.publicidad .grid li{
	
	height: 150px;
	width: 50%;
	background-clip: content-box;
	background-size: cover;
	background-position: center;
	background-color: #333;
	display: flex;
	flex-wrap: wrap;
}

.caja{
		width: 200px;
		height: 50px;
		background-color: hotpink;
		margin: 10px;
		padding: 5px;
		text-align: center;
	}

/*----------------
 	slider
----------------*/

.slider{
	position: relative;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	text-align: center;
}

.slider .background-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-color: #2196F3;
	z-index: -1;
}

.slider .background-image:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #414a4f;
	opacity: 0.75;
}

.slider h1{
	font: bold 60px 'Open Sans', sans-serif;
	margin-bottom: 50px;
}

.slider h3{
	font: normal 28px 'Open Sans', sans-serif;
	margin-bottom: 40px;
}

.slider .botones{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 80%;
}

.slider a.btn, a.btn-izq, a.btn-der{
	padding: 20px 46px;
	margin: 10px -3px !important;
}


/*--------------------
 	CARTELERA
--------------------*/

.cartelera{
	display: flex;
	flex-wrap: wrap;
	background-color: #f7f7f7;
}

.cartelera .grid li{
	padding: 0 30px;
	flex-basis: 33%;
	text-align: center;
}

.cartelera .grid li img{
	width: 100%;
    margin-bottom: 25px;
	
}

.cartelera .grid li h4{
	color: #555;
    font-size: 20px;
    margin-bottom: 25px;
}

.cartelera .grid a.btn{
	padding: 15px;
	margin: 10px -3px !important;
}

/*-------------
 	Footer
-------------*/

footer{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #fff;
	background-color: #414a4f;
	padding: 60px 0;
	width: 100%
}


footer p{
	text-transform: uppercase;
	font-size: 14px;
	color: rgba(255,255,255,0.6);
	margin-bottom: 10px;
}

footer p a{
	color: #fff;
}

footer form{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 800px;
	width: 80%;
}

footer form input{
	padding: 15px;
	font-size: 18px;
	color: #555;
	width: 80%;
	margin-bottom: 20px;
}

footer form .btn{
	padding: 18px 42px;
}

footer .logo{
	margin: 50px;
}

footer .footer_menu{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

footer .footer_menu ul {
	display: flex;
	flex-direction: row;
    justify-content: space-between;
}

footer .footer_menu ul li{
	display: flex;
	flex-wrap: wrap;
	padding: 0 100px;
	font-size: 20px;
}
footer .footer_menu ul li a{
	font-size: 15px;
	text-align: center;
}